{% extends "base.html" %}

{% block stylesheets %}
    <link href="/css/index.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <header>
    </header>

    <div class="content">
        <h1 class="uppercase">ქართული მეტყველების ამოცნობისათვის <br> მონაცემების ბაზა</h1>

        <img class="logo" src="images/gwave_no.gif"/>

        <h3>ამ საიტის მიზანია რომ შეაგროვოს ნათქვამი ქართული წინადადების კოლექცია. </h3>
        <h3>ეს იდეა დაიბადა შემდეგი მოთხოვნილების გამო: რომ გავწვრთნათ ქართული მეტყველობის
        ამომცნობელი საჭიროა ბევრი ნალაპარაკების ნიმუში რომელის შემცველობა უკვე ცნობილია.
        </h3>

        <h2 class="uppercase">ინსტრუქცია</h2>
        <h3>დააჭირეთ ჩაწერის ნიშანს, და წაიკითხეთ შავი მუქი ტექსტი.</h3>

        <h2 class="uppercase no-margin">სათქვამი ტექსტი</h2>
        <div id="TextToRead" class="uppercase bold">გამარჯობა როგრ ხარ?</div>

        <div class="voice-section">
            <h2 class="uppercase no-margin">კონტროლი</h2>

            <div class="recording-section">
                <button id="Record" class="item">
                    <span class="button icon-record invert"></span>
                    <tag>ჩაწერა</tag>
                </button>
                <!--<audio id="recordedAudio" controls>-->
                <!--Your browser does not support the audio element.-->
                <!--</audio>-->

                <!--<input type="range" id="Seek" value="0" max=""/>-->
                <button id="Play" class="item disabled">
                    <span class="button icon-play invert"></span>
                    <tag>დაკვრა</tag>
                </button>
                <button id="Delete" class="item disabled">
                    <span class="button icon-delete invert"></span>
                    <tag>წაშლა</tag>
                </button>
            </div>

            <div id="RecordingStatus" class="hidden">მიმდინარეობს ჩაწერა...</div>

            <button id="UploadRecording" class="uppercase bold">
                ატვირთვა
            </button>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="/js/index.js" async></script>
{% endblock %}